<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
<<<<<<< HEAD
        <div class="f-info-brand">&copy; StayNest Private Limited by &nbsp;Rungta Students</div>
=======
        <div class="f-info-brand">&copy; StayNest Private Limited by Rungta Students</div>
>>>>>>> 088e7c174d74636b9edd90983937d3a0b170299f
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
