
<style>
  .search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }

  .logout {
    background-color: red;
    color: white !important;
    border-radius: 25px;
  }
  .login {
    margin-left: 5px;
  }

  .login, .signup {
    background-color: rgb(119, 210, 119);
    color: black !important;
    border-radius: 25px;
    opacity: 0.8;
  }

  
  .login:hover{
    opacity: 1;
  }
  .signup:hover {
    opacity: 1;
  }

  .StayNest{
    margin-right: 5px;
    font-weight: 900;
    letter-spacing: 2px;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations">
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link StayNest" href="/Listings/new">StayNest</a> 
        <% if(!currUser) {%>
        <a class="nav-link signup" aria-current="page" href="/signup"><b>Sign up</b></a>
        <a class="nav-link login" href="/login"><b>Login</b></a>
        <% } %>
        <% if(currUser) {%>
        <a class="nav-link logout" href="/logout"><b>Log out</b></a> 
        <% } %>
      </div>
    </div>
  </div>
</nav>